<h1>
  Please Login
</h1>
<form [formGroup]="loginForm" (ngSubmit)="loginHandler()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" formControlName="username" class="form-control"
           [ngClass]="{ 'is-invalid': f.username.errors }"
           maxlength="255"/>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
      <p *ngIf="f.username.errors.pattern">Please use only supported special characters</p>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" class="form-control"
           [ngClass]="{ 'is-invalid': f.password.errors }"/>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <p *ngIf="f.password.errors.required">Password is required</p>
      <p *ngIf="f.password.errors.pattern">Please use only supported special characters</p>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-primary">Login</button>
    <!--<a routerLink="/registration" class="btn btn-link">Register</a>-->
  </div>

</form>
